*,
html,
body {
  box-sizing: border-box;
  /*margin: 0;*/
}

.color {
  color: rgb(153, 8, 8);
}

.link {
  padding: 5px;
}
.null {
  color: #b6c7ce21;
}
#cont {
  backdrop-filter: blur(50rem);
  -webkit-backdrop-filter: blur(20rem);
}
